@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Register";
}

<div>
    <head>
    <title>C-DAC Mohali: Contact Us</title>
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Mohali</h3>
                </div>
                <div class="panel-body">
                    <strong>C-DAC</strong><br />
                    A-34, Industrial Area<br />
                    Phase VIII, Mohali<br />
                    Chandigarh - 160 071<br />
                    India.<br />
                    Phone: +91-172-2237052-57, 6619000 <br />
                    Fax: +91-172-2237050-51
                    <!--<p class="text-right"><a href="/index.aspx?id=dl_brochures" target="_self" class="custom-readmore">more &raquo;</a></p>-->
                </div>
            </div>
        </div>
        </head>
</div>