@model PHRMS.ViewModels.ForgotPasswordModel
@using (Html.BeginForm("VerifyUserDetails", "Home", FormMethod.Post, new { id = "frmInitVerification" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group col-lg-12">
        <label>Registered Mobile No. or Email Id</label>
        <span class="text-danger"> *</span>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "abc@example.com" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="col-lg-12">
        <input type="submit" class="btn btn-success" value="Next" />
        <a class="btn btn-default" href="@Url.Action("Index")">Cancel</a>
    </div>
}