<!DOCTYPE html SYSTEM "http://evolvis.org/DTD/xhtml10t-rdfa10.dtd">
<html xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inititaive by ">
    <meta name="keywords" content="Personal,Health,Records,Mangement,System">

    <title>MyHealthRecord</title>
    <link rel="shortcut icon" type="image/png" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
    <link href="~/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/landing.css" rel="stylesheet" />


    <style type="text/css">
        .phrmsrimg {
            margin-top: -60px;
            margin-left: 45px;
        }

        .bgsignup_phrms {
            background-color: #337AB7;
            color: #FFF;
        }

        .righthalf {
            margin-top: -28px;
        }
    </style>
</head>
<body>
    <div class="no-padding headerhght">
        <nav class="navbar navbar-default navbar-fixed-top hdrshadow">
            <div class="container-fluid no-padding hdrbgclr">
                <div class="col-md-12 col-sm-12 headerhght">
                    <div class="col-md-5 col-sm-5 zeropadmbl">
                        <img src="~/images/myHealthRecordlogo.png" class="img-responsive " width="42" />

                        <img src="~/images/MyHealthRecord.png" class="img-responsive phrmsrimg" />
                    </div>
                    <div class="col-md-7 col-sm-7 righthalf" style="margin-top: -5px;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="navbar-header hdrnavcustom">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav"></ul>
                                <ul class="nav navbar-nav navbar-right tabcntr btnsintab" style="display: flex">
                                    <li class="lirghtup lipad">
                                        <img src="~/images/nationalemblemindia.png" class="img-responsive lionimg" width="42">
                                    </li>

                                    <li class="lirghtup lipad">
                                        <a href="http://www.digitalindia.gov.in/"><img src="~/images/digital_india_logo.png" class="img-responsive hdrmobile dgindiafullimg" width="102"></a>
                                    </li>
                                    <li class="lirghtup limargin">
                                        <a href="~/Home/Login">
                                            <button class="btn btn-success btn-xs">Sign In</button>
                                        </a>
                                    </li>
                                    <li class="lirghtup limargin">
                                        <a href="~/Account/Register">
                                            <button class="btn btn-primary btn-xs">Sign Up</button>
                                        </a>
                                    </li>
                                    <li class="lirghtup limargin">
                                        <a href="">
                                            <button class="btn btn-warning btn-xs">Doctor Login</button>
                                        </a>
                                    </li>
                                    <!--<select class="css-select" name="language" id="language" style="height: 18px; margin-top: 25px; font-size: 13px;">
                                        <option value="english">English</option>
                                        <option value="hindi">हिन्दी</option>
                                    </select>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid no-padding">
        <div id="myCarousel" class="carousel slide bnrhght" data-ride="carousel">
            <ol class="carousel-indicators circlelists">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li class="" data-target="#myCarousel" data-slide-to="1"></li>
                <li class="" data-target="#myCarousel" data-slide-to="2"></li>
                <li class="" data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/pic4.jpg" alt="ONLINE APPLICATIONS" class="img-responsive" style="width: 100%; margin: auto" />
                    <div class="carousel-caption">
                        <h1 class="lesspad shadowtxt h1txt">Health Management</h1>
                        <h4 class="shadowtxt h4txt">Organize your family's health information</h4>
                        @*<a href="~/Account/Register">
                                <button class="btn btn-primary ovalbtn1">SIGN UP FOR PHRMS</button>
                            </a>*@
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/pic22.jpg" alt="PAPERLESS GOVERNANCE" class="img-responsive" style="width: 100%; margin: auto;">
                    <div class="carousel-caption">
                        <h1 class="lesspad shadowtxt h1txt">Manage Visits</h1>
                        <h4 class="shadowtxt h4txt">Be better prepare for doctor visits and unexpected emergencies.</h4>
                        @*<a href="~/Account/Register">
                                <button class="btn btn-primary ovalbtn1">SIGN UP FOR PHRMS</button>
                            </a>*@
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/pic33.jpg" alt="STORING RECORDS" class="img-responsive" style="width: 100%; margin: auto">
                    <div class="carousel-caption">
                        <h1 class="lesspad shadowtxt h1txt">Store Records</h1>
                        <h4 class="shadowtxt h4txt">Create a more complete picture of your health</h4>
                        @*<a href="~/Account/Register">
                                <button class="btn btn-primary ovalbtn1">SIGN UP FOR PHRMS</button>
                            </a>*@
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/pic1.jpg" alt="STORING RECORDS" class="img-responsive" style="width: 100%; margin: auto">
                    <div class="carousel-caption">
                        <h1 class="lesspad shadowtxt h1txt">Track Goals</h1>
                        <h4 class="shadowtxt h4txt">Achieve your fitness goals</h4>
                        @*<a href="~/Account/Register">
                                <button class="btn btn-primary ovalbtn1">SIGN UP FOR PHRMS</button>
                            </a>*@
                    </div>
                </div>

            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span> </a><a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span> </a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 whitebg">
            <h3 class="text-center" style="margin-top: 7px">MyHealthRecord Features</h3>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-2 col-sm-2  text-center">
                <a class="links hvr-grow">
                    <img src="~/images/011.png" class="img-responsive">
                </a>
                <p>Health Management</p>
            </div>
            <div class="col-md-2 col-sm-2  text-center">
                <a class="links hvr-grow">
                    <img src="~/images/022.png" class="img-responsive">
                </a>
                <p>Emergency Profile</p>
            </div>
            <div class="col-md-2 col-sm-2  text-center">
                <a class="links hvr-grow">
                    <img src="~/images/033.png" class="img-responsive">
                </a>
                <p>Record Management</p>
            </div>
            <div class="col-md-2 col-sm-2 text-center">
                <a class="links hvr-grow">
                    <img src="~/images/044.png" class="img-responsive">
                </a>
                <p>Track Goals</p>
            </div>
            <div class="col-md-2 col-sm-2  text-center">
                <a class="links hvr-grow">
                    <img src="~/images/05.png" class="img-responsive">
                </a>
                <p>Share Documents</p>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 panelsrow">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-primary nobdr">
                        <div class="panel-heading">MyHealthRecord Stastics</div>
                        <div class="panel-body text-center pnlhght">
                            <span style="margin: auto">
                                <img src="~/images/homepage.png" class="img-responsive" style="margin: auto;" width="60">
                            </span>
                            <p style="font-size: 2vw; padding: 8px;">
                                <strong><span id="users">0</span></strong>
                                <span style="font-size: 20px;">users</span>
                            </p>
                            <br>
                            <br>
                            <i class="fa fa-files-o filesize"></i>
                            <p style="font-size: 2vw; padding: 8px;">
                                <strong><span id="documents">8</span></strong>
                                <span style="font-size: 20px;">Categories Covered</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-primary nobdr">
                        <div class="panel-heading">It’s easy to register with MyHealthRecord </div>
                        <div class="panel-body pnlhght">
                            <p>To sign up for MyHealthRecord, you need to fill a registration form with following details:</p>
                            <p class="left20">1. <strong>Registration</strong>: Fill the registration form for all mandatory fields. Mobile number, is used to send the OTP.</p>
                            <p class="left20">2. <strong>Confirm Mobile OTP </strong>: Fill the OTP received on your mobile number for final submission. </p>
                            <p class="left20">3. <strong>Complete</strong>: Once you submit the OTP you will complete the registration process. </p>
                        </div>
                    </div>
                </div>
                @*@<div class="col-md-4 col-sm-4">
                        <div class="panel panel-primary nobdr">
                            <div class="panel-heading">Project Funded By:</div>
                            <div class="panel-body pnlhght">
                                <!-- <ul class="bulleted">
                                     <li><a href="#" class="links" target="_blank">5 things you should know about Digital Locker <span class="newslink">(Business Standard)</span></a>
                                     </li>
                                     <li class="bot5"><a href="#" class="links" target="_blank">India's Digital Locker Initiative Draws Crowds <span class="newslink">(NDTV Gadgets)</span></a></li>
                                     <li class="bot5"><a href="#" target="_blank">Live paperless; keep sensitive data, documents safe in DigiLocker  <span class="newslink">(Economic Times)</span></a></li>

                                     <li class="bot5"><a href="#" class="links" target="_blank">Prime Minister to Launch Digital Locker Facility Next Week  <span class="newslink">(NDTV Gadgets)</span></a></li>


                                     <li class="bot5"><a href="#" class="links" target="_blank">Centre’s ‘Digital Locker’ to empower citizens  <span class="newslink">(Indian Express)</span></a></li>
                                 </ul>-->

                                <h4> <p class="left20"><strong><a href="http://meity.gov.in/" style="color: #000000;">Ministry of Electronics & Information Technology, Government of India.</a></strong></p></h4>

                            </div>
                        </div>
                    </div>*@
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-primary nobdr">
                        <div class="panel-heading">MyHealthRecord Apps:(Coming Soon)</div>
                        <div class="panel-body text-center pnlhght">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="~/AndroidApp/MyHealthRecordLive.apk"><img src="~/images/MobileOS_Android11.png" class="img-responsive" width="50"></a>
                                </div>
                                <div class="col-md-9 text-left">
                                    <h4>MyHealthRecord for Android</h4>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#"><img src="~/images/MobileOS_iOS11.png" class="img-responsive" width="50"></a>
                                </div>
                                <div class="col-md-9 text-left">
                                    <h4>MyHealthRecord for iOS</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 panelsrow">
            <img src="https://subscriber.cbps.gov.in/assets/uploads/3rpbtfC38B9muoRQ?81" width="1350" id="_83LuNIDyMbmImJnQ" onclick="javascript:window.open('https://subscriber.cbps.gov.in/aff/83LuNIDyMbmImJnQ')" style="cursor:pointer" onload="javascript:(function(){if(typeof _done == 'undefined' || !_done){this.setAttribute('src', this.getAttribute('src')+'?'+Math.floor((Math.random() * 100) + 1)); _done=true;}}).call(this)">
        </div>
        @*<div class="col-md-12 col-sm-12 col-xs-12 bgsignup_phrms">
                <div class="col-md-9 col-sm-10 col-xs-10 bgsignup_phrms">
                    <p class="text-center dwn">
                        <strong>Create Your PHRMS Account : </strong><a href="~/Account/Register">
                            <button class="btn btn-warning ovalbtn hvrblck">Sign Up</button>
                        </a>
                    </p>
                </div>
                <div class="col-md-3 col-sm-2 col-xs-2 bgsignup_phrms">
                    <img src="~/images/zeroone.jpg" class="img-responsive" alt="zeroone">
                </div>
            </div>*@
        <div style="clear: both"></div>
        <div class="col-md-12 col-sm-12 col-xs-12 bgfooter">
            <div class="container">

                <div class="col-md-6 col-sm-6 ftrgap">
                    <div class="row">
                        <div class="titlefooter"><strong></strong></div>

                        <ul class="ftrlists">
                            <li>&nbsp;<a class="whitetext" href="http://cdac.in/index.aspx?id=about" target="_blank">About</a> | </li>
                            @*<li>&nbsp;<a class="whitetext" href="#">Statistics</a> | </li>*@
                            <li>&nbsp;<a class="whitetext" href="~/Account/FAQS" target="_blank">FAQs</a> | </li>
                            @*<li>&nbsp;<a class="whitetext" href="#">Resource Center</a> | </li>*@
                            <!--<li>&nbsp;<a class="whitetext" href="/news.php">/*News</a> | </li> -->
                            <li>&nbsp;<a class="whitetext" href="~/Account/ContactUs" target="_blank">Contact us</a></li>
                        </ul>


                        <div class="securityfoot">
                            <ul class="ftrlists">
                                <!-- <li>&nbsp;<a href="#" target="popup"><img src="files/getseal.png" width="80px"></a> &nbsp; </li>
                                <li>&nbsp;<img src="files/256sll.png" width="90px">&nbsp; </li>-->
                                <li>Content Owned, Updated and Maintained by C-DAC Mohali</li>
                            </ul>
                            @*<ul class="ftrlists">
                                    <li>by C-DAC Mohali</li>
                                </ul>*@
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 ftrgap">
                    <div class="row">
                        <div class="col-sm-10">
                            <p style="color: #CCC; text-align: right; margin-top: 15px;">
                                Centre For Development of Advanced Computing
                                <br />
                                A Scientific Society of the Ministry of Electronics &amp; Information Technology, Government of India.<br />
                                Copyright 2017 MyHealthRecord. All Rights Reserved
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p style="vertical-align: middle; margin-top: 25px;">
                                <a href="http://cdac.in/"> <img src="~/images/whitetranscdac.png" class="img-responsive pull-right" width="100"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .titlefooter {
                color: #D9D8D8;
                font-size: 17px;
                margin-bottom: 14px;
                margin-left: 10px;
                margin-top: 5px;
            }
        </style>
    </div>

    <script src="~/phr_css/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/phr_css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "Get",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Content("~/")Home/GetUserCount",
                success: function (data) {
                  if (data) {
                        $("#users").text(data);

                    }
                }
            });
        });
    </script>

</body>
</html>
