<a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown" title="Notifications" id="Notification">
    <i class="pe-7s-bell">
        <span class="label label-success" id="Count"></span>
    </i>
</a>
<ul class="dropdown-menu hdropdown animated flipInX ulNotification">
    <div class="title">
       You have <span class="pull-centre" id="Total"></span> <span class="pull-centre"></span>Messages
    </div>

    <!--<li class="summary"><a href="#">See All Messages</a></li>-->
</ul>



