@model PHRMSAdmin.Models.DateViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="normalheader transition animated fadeIn small-header" style="text-align:center">
    <div class="hpanel hgreen">
        <div class="panel-body">

            <h3 class="font-light m-b-xs" id="tipHeader">
                <i class="fa icon-dashboard text-danger"></i> Reports
            </h3>
            <div id="hbreadcrumb" class="pull-right">
            </div>
            <h7 id="healthTipCtrl" style="color:#B76215;"></h7>
        </div>
    </div>
</div>

<div id="page-wrapper">
    <div id="page-inner">

        <!-- /. ROW  -->

        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">

                    <div class="panel-body">
                        @using (Html.BeginForm("Export", "Reports", FormMethod.Post, new { @class = "form-inline value_search" }))
                        {

                            <div class="search_div">
                                    <input type="text" name="Keyword" class="form-control" value="" placeholder="Name" />
                                    <button class="btn btn-orange" type="submit" id="SearchButton">
                                        <i class="fa fa-search"></i>
                                    </button>

                              
                                </div>
                            <div class="row">
                                <div class="col-lg-12">
                                   <div class="col-sm-4">
                                        <label>From Date<span class="red"></span></label>
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control tdatepicker clscalender",  })
                                    </div>
                                   <div class="col-sm-4">
                                            <label>To Date<span class="red"></span></label>
                                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control tdatepicker clscalender", })
                                        </div>
      
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                  
                                    </div>
                                </div>
                            </div>
                        }

                            

                    </div>

                            </div>
                        </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    $('.clscalender').datepicker({
        format: 'dd/mm/yyyy',
        endDate: "today",
        autoclose: true
       
    });
   
</script>
