<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<string>1</string>
		<key>Relation</key>
		<string>Self</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>2</string>
		<key>Relation</key>
		<string>Father</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>3</string>
		<key>Relation</key>
		<string>Mother</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>4</string>
		<key>Relation</key>
		<string>Son</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>5</string>
		<key>Relation</key>
		<string>Daughter</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>6</string>
		<key>Relation</key>
		<string>Brother</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>7</string>
		<key>Relation</key>
		<string>Sister</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>8</string>
		<key>Relation</key>
		<string>Grandfather</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>9</string>
		<key>Relation</key>
		<string>Grandmother</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>10</string>
		<key>Relation</key>
		<string>Uncle</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>11</string>
		<key>Relation</key>
		<string>Aunt</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>12</string>
		<key>Relation</key>
		<string>Husband</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>13</string>
		<key>Relation</key>
		<string>Wife</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>14</string>
		<key>Relation</key>
		<string>Nephew</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>15</string>
		<key>Relation</key>
		<string>Niece</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>16</string>
		<key>Relation</key>
		<string>Father-in-law</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>17</string>
		<key>Relation</key>
		<string>Brother-in-law</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>18</string>
		<key>Relation</key>
		<string>Mother-in-law</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>19</string>
		<key>Relation</key>
		<string>Sister-in-law</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>20</string>
		<key>Relation</key>
		<string>Daughter-in-law</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>21</string>
		<key>Relation</key>
		<string>Son-in-law</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>22</string>
		<key>Relation</key>
		<string>Grandson</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>23</string>
		<key>Relation</key>
		<string>Granddaughter</string>
	</dict>
</array>
</plist>
