<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>StateId</key>
		<string>1</string>
		<key>StateName</key>
		<string>Andhra Pradesh</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>2</string>
		<key>StateName</key>
		<string>Arunachal Pradesh</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>3</string>
		<key>StateName</key>
		<string>Assam</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>4</string>
		<key>StateName</key>
		<string>Bihar</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>5</string>
		<key>StateName</key>
		<string>Chhattisgarh</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>6</string>
		<key>StateName</key>
		<string>Goa</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>7</string>
		<key>StateName</key>
		<string>Gujarat</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>8</string>
		<key>StateName</key>
		<string>Haryana</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>9</string>
		<key>StateName</key>
		<string>Himachal Pradesh</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>10</string>
		<key>StateName</key>
		<string>Jammu and Kashmir</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>11</string>
		<key>StateName</key>
		<string>Jharkhand</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>12</string>
		<key>StateName</key>
		<string>Karnataka</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>13</string>
		<key>StateName</key>
		<string>Kerala</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>14</string>
		<key>StateName</key>
		<string>Madhya Pradesh</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>15</string>
		<key>StateName</key>
		<string>Maharashtra</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>16</string>
		<key>StateName</key>
		<string>Manipur</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>17</string>
		<key>StateName</key>
		<string>Meghalaya</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>18</string>
		<key>StateName</key>
		<string>Mizoram</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>19</string>
		<key>StateName</key>
		<string>Nagaland</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>20</string>
		<key>StateName</key>
		<string>Odisha(Orissa)</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>21</string>
		<key>StateName</key>
		<string>Punjab</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>22</string>
		<key>StateName</key>
		<string>Rajasthan</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>23</string>
		<key>StateName</key>
		<string>Sikkim</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>24</string>
		<key>StateName</key>
		<string>Tamil Nadu</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>25</string>
		<key>StateName</key>
		<string>Tripura</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>26</string>
		<key>StateName</key>
		<string>Uttar Pradesh</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>27</string>
		<key>StateName</key>
		<string>Uttarakhand</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>28</string>
		<key>StateName</key>
		<string>West Bengal</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>29</string>
		<key>StateName</key>
		<string>Telangana</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>30</string>
		<key>StateName</key>
		<string>Andaman and Nicobar Islands</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>31</string>
		<key>StateName</key>
		<string>Chandigarh</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>32</string>
		<key>StateName</key>
		<string>Dadra and Nagar Haveli</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>33</string>
		<key>StateName</key>
		<string>Daman and Diu</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>34</string>
		<key>StateName</key>
		<string>Lakshadweep</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>35</string>
		<key>StateName</key>
		<string>National Capital Territory of Delhi</string>
	</dict>
	<dict>
		<key>StateId</key>
		<string>36</string>
		<key>StateName</key>
		<string>Puducherry</string>
	</dict>
</array>
</plist>
