<div class="error-container">
    <i class="pe-7s-check text-success big-icon"></i>
    <h1>Registration Completed</h1>
    @*<strong>Confirmation email sent on the registered email-id</strong>*@
    <p>
        Please note that, the request, for account approval will be sent to our  Administrator, who will verify and approve your account.Once the account approved, you can enjoy our service.
    </p>
    <p>Thanks,<br />
    Team MyHealthRecord</p>
    <a href="@Url.Action("Login", "Account")" class="btn btn-xs btn-success">Go to Login</a>
</div>

