@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";

}

@*@TempData["ErrormessageShow"]*@



<br />
<br /><br />
<br /><br />
<br /><br />


<br />
    <div class="error-container">
        <i class="pe-7s-way text-success big-icon"></i>
        @*<h1>500</h1>*@
      
        <strong>Internal Server Error</strong>
        <p>
            @*The server encountered something unexpected that didn't allow it to complete the request. We apologize.*@

            @TempData["ErrormessageShow"]
        </p>
        <a href="@Url.Action("Index","Dashboard")" class="btn btn-xs btn-success">Go back to dashboard</a>
    </div>